name: FTP Deploy to GoDaddy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: w5g.e02.mywebsitetransfer.com
          username: githubdeploy@uandwe.com
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: oldUAW/
          server-dir: /public_html/
