name: Auto Deploy to GoDaddy (FTPS)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via FTPS (GoDaddy)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: w5g.e02.mywebsitetransfer.com
          username: githubdeploy@uandwe.com
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: ./
          server-dir: /public_html/
          dangerous-clean-slate: true
