name: Auto Deploy to GoDaddy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 22 w5g.e02.mywebsitetransfer.com >> ~/.ssh/known_hosts

      - name: Deploy files to server
        run: |
          rsync -avz --delete \
          --exclude='.git*' \
          ./ \
          pf6a4l6860tm@w5g.e02.mywebsitetransfer.com:/home/pf6a4l6860tm/public_html
